.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(36, 36, 246);
  width: 90%;
}

.img {
  width: 100%;
}

.light {
  background-color: black;
  color: white;
}
