.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(36, 36, 246);
  height: 10rem;
  width: 10rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
