.bottomblock {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__width {
    width: 100%;
  }
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 2em;
  margin-bottom: 2em;
}

.gridBoxDetail {
  transition: all 0.3s ease;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2em;
  margin-bottom: 2em;
}
