$black: #000000;
$white: #d8dfe1;
$green-dark: #2d3f2a;
$green-light: #417d6c;
$red: #360e15;
$brown: #784109;
$purple: #2a338d;
$blue: #528db1;

$background-color-light: #ffffff;
$background-color-dark: #333333;

$border-color-yellow: #fbff00;
$border-color-red: #9c2e1f;
$border-color-blue: #1d74ff;
