$black: #000000;
$white: #ffffff;
$hoth-white: #d8dfe1;
$dagobach-green: #2d3f2a;
$endor-green: #417d6c;
$cloud-city-red: #360e15;
$palace-brown: #784109;
$hope-purple: #2a338d;
$special-blue: #528db1;

$font-color-primary: #ffffff;

$background-color-primary: #1c2020;

$border-color-yellow: #fbff00;
$border-color-red: #9c2e1f;
$border-color-blue: #1d74ff;
